includes:
    - vendor-tools/phpstan/phpstan-nette/extension.neon
    - vendor-tools/phpstan/phpstan-nette/rules.neon

parameters:
    ignoreErrors:
        - '#Parameter \#2 \$listener of method Symfony\\Component\\EventDispatcher\\ContainerAwareEventDispatcher::getListenerPriority\(\) expects callable, mixed\[\] given#'
