extensions:
    arachne.containerAdapter: Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    arachne.eventDispatcher: Arachne\EventDispatcher\DI\EventDispatcherExtension
    kdyby.console: Kdyby\Console\DI\ConsoleExtension
