extensions:
    arachne.containerAdapter: Arachne\ContainerAdapter\DI\ContainerAdapterExtension
    arachne.eventDispatcher: Arachne\EventDispatcher\DI\EventDispatcherExtension
    kdyby.events: Kdyby\Events\DI\EventsExtension

kdyby.events:
    debugger: false
