extensions:
    arachne.eventDispatcher: Arachne\EventDispatcher\DI\EventDispatcherExtension

services:
    subscriber:
        class: Tests\Integration\Fixtures\TestSubscriber
        tags:
            - arachne.eventDispatcher.subscriber
